<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

<header th:fragment="navigation (page)">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/}">Tombola</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" th:class="${page == 'index'} ? 'nav-item active' : 'nav-item'">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li th:if="${session.tombola != null}" class="nav-item active"
                    th:class="${page == 'tombola'} ? 'nav-item active' : 'nav-item'">
                    <a class="nav-link" th:href="@{/prizes}" th:text="${session.tombola.name}">Tombola</a>
                </li>
                <li th:if="${#authentication.principal != 'anonymousUser'}" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false" th:text="${#authentication.principal.username}">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="javascript: document.logoutForm.submit()"
                           th:text="#{messages.logout}"></a>
                        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                            <input hidden type="submit" value="Sign Out"/>
                        </form>
                    </div>
                </li>
            </ul>
            <form th:if="${session.tombola != null}" th:action="@{/prizes/search}" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" name="searchTerm" th:placeholder="#{messages.search}">
                <button class="btn my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <!--/*@thymesVar id="message" type="io.seventytwo.tomobola.boundary.Message"*/-->
    <div id="message" th:if="${message != null}">
        <div th:class="${message.isError() ? 'alert alert-danger': 'alert alert-success'}">
            <span th:text="${message.getMessage()}"></span>
        </div>
    </div>

</header>

</body>

</html>