<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{common/head :: head}"></head>

<body>

<div th:replace="~{common/navigation :: navigation ('tombola')}"></div>

<div class="container">
    <div class="row">
        <div class="col-lg">
            <h1>[[${tombola.name}]]</h1>

            <form name="tombola-form" th:action="@{/tombolas}" th:object="${tombola}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <label for="name" th:text="#{messages.name}">Name</label>
                    <input type="text" class="form-control" id="name" name="name" th:placeholder="#{messages.name}"
                           th:field="*{name}" required autofocus>
                    <small id="emailHelp" class="form-text text-muted" th:text="#{messages.enter_unique_name}"></small>
                </div>
                <button type="submit" class="btn btn-primary" name="save" th:text="#{messages.save}">Save</button>
                <a class="btn" th:href="@{/}" th:text="#{messages.back}"></a>
            </form>
        </div>
    </div>
</div>

<div th:replace="~{common/footer :: footer}"></div>

</body>

</html>